In [1]:
import pandas as pd

In [40]:
df = pd.read_csv('colors.csv')
df.head()

   Red  Green  Blue Foreground
0    0      0     0      White
1  255    255   255      Black
2  233    160   107      Black
3  216    140   115      Black
4  143    137    93      Black

In [11]:
for index, row in df.iterrows():
    print(row['Red'],row['Green'],row['Blue'], ': ', row['Foreground'])

0.0 0 0.0 :  White
255.0 255 255.0 :  Black
118.0 Black 138.0 :  121
nan nan nan :  nan

In [36]:
df2 = pd.DataFrame({
    'Red': 125,
    'Green': 255,
    'Blue': 102,
    'Foreground': 'White'
}, index=[0], columns=['Red','Green','Blue','Foreground'])
df2

   Red  Green  Blue Foreground
0  125    255   102      White

In [24]:
pd.concat([df,df2], axis=0)

   Blue Foreground  Green  Red
0     0      White      0    0
1   255      Black    255  255
0   102      White    255  125

In [37]:
with open('colors.csv', 'a') as f:
        df2.to_csv(f, header=False, index=None)

## Model Here

In [41]:
import numpy as np
from sklearn.neighbors import KNeighborsClassifier

In [88]:
model = KNeighborsClassifier(n_neighbors=3, n_jobs=1)
model.fit(df[['Red','Green','Blue']], df[['Foreground']])

/home/eyadkobatte/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [64]:
df[['Red','Green','Blue']][2:3]

   Red  Green  Blue
2  233    160   107

In [90]:
df2 = pd.DataFrame({
    'Red': 112,
    'Green': 138,
    'Blue': 140,
    'Foreground': 'White'
}, index=[0], columns=['Red','Green','Blue','Foreground'])
df2

   Red  Green  Blue Foreground
0  112    138   140      White

In [91]:
print(model.predict(df2[['Red','Green','Blue']]))
print(model.predict_proba(df2[['Red','Green','Blue']]))

['Black']
[[ 1.  0.]]